In [1]:
!pip install -i https://test.pypi.org/simple/ lambdata-kellischeuble==0.0.1

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-kellischeuble==0.0.1
  Downloading https://test-files.pythonhosted.org/packages/67/1a/05dcc92c43878e0dac696e400ea25e9f4d7e4d2a0f9df2935f9efcb1fa34/lambdata_kellischeuble-0.0.1-py3-none-any.whl (1.2 kB)
Requirement already satisfied: pandas in /Users/kellischeuble/.local/share/virtualenvs/kellischeuble-Xwi6GbCn/lib/python3.7/site-packages (from lambdata-kellischeuble==0.0.1) (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/kellischeuble/.local/share/virtualenvs/kellischeuble-Xwi6GbCn/lib/python3.7/site-packages (from pandas->lambdata-kellischeuble==0.0.1) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /Users/kellischeuble/.local/share/virtualenvs/kellischeuble-Xwi6GbCn/lib/python3.7/site-packages (from pandas->lambdata-kellischeuble==0.0.1) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /Users/kellischeuble/.local/share/virtualenvs/kellischeuble-Xwi6GbCn/lib/python3.7/site-packages (from pandas->lambdata-kellischeuble==0.0.1) (2019.3)
Requirement already satisfied: six>=1.5 in /Users/kellischeuble/.local/share/virtualenvs/kellischeuble-Xwi6GbCn/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->lambdata-kellischeuble==0.0.1) (1.14.0)
Installing collected packages: lambdata-kellischeuble
Successfully installed lambdata-kellischeuble-0.0.1

In [4]:
from my_lambdata import module

In [5]:
import pandas as pd

In [10]:
df = pd.DataFrame({'date': pd.to_datetime('11-13-96')}.items())

In [11]:
df

      0          1
0  date 1996-11-13

In [15]:
module.separate_dates(df,1)

      0          1  day  month  year
0  date 1996-11-13   13     11  1996